html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.header{
    margin-bottom: 90px;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    color: #1B1B1B;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.header__title{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
}
.menu{
    margin-left: 130px;
    margin-right: 185px;
}
.menu__item{
    color: #1B1B1B;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.user-nav{
    display: flex;
    gap: 0 20px;/* gap потому что используем flex тоже самое что и margin - отступ 0 внизу и верху 20 справа и слева*/
}
.top{
    margin-bottom: 150px;
}
.top-slide{
    min-height: 700px;
}
.top-slide__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.top-slide__content{
    flex-basis: 183px;
    margin-top: -60px;
}
.top-slide__title{
    font-family: "Playfair Display", serif;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.3;
}
.top-slide__subtitle{
    font-size: 24px;
    margin-bottom: 10px;
}
.top-slide__text{
    margin-bottom: 20px;
}
.top-slide__btn{
    color: #7449BB;
    text-transform: uppercase;
    font-weight: 700px;
    padding: 21px 55px;
    border: 1px solid #7449BB;
    display: inline-block;

}